@model MeetingRoom.Models.RoomModel
<partial name="_Notification" />
<form method="post" asp-action="Delete">
    <input asp-for="RoomId" hidden />
    <div class="border p-3 mt-3">
        <div class="row pt-2">
            <h2 class="text-primary">Delete room</h2>
            <hr />
        </div>
        <div id="alert"></div>
        <div class="mb-3">
            <div class="name" style="display: flex;">
                <div class="col-2">
                    <label asp-for="RoomName"></label>
                </div>
                <div class="col-8">
                    <input disabled asp-for="RoomName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="Capacity" style="display: flex;">
                <div class="col-2">
                    <label asp-for="Capacity"></label>
                </div>
                <div class="col-8">
                    <input disabled asp-for="Capacity" class="form-control" />
                </div>
            </div>
        </div>
        <!-- Add similar sections for other properties as needed -->

    </div>
    <button type="submit" onclick="return ValidateInput()" class="btn btn-danger" style="width:150px">Delete</button>
    <a asp-controller="Home" asp-action="All" class="btn btn-secondary" style="width:150px">Back to List</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
